<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/style-single-book.css" rel="stylesheet">
    <title>Book Store</title>
</head>
<body class="singleBookClass">
    {{>header}}
    <section id="section2">
        <div class="section2">
            <div class="section2-inner">
                <div class="book-pic">
                    <img class="book-img" src="" alt="">
                </div>
                <div class="book-details">
                    <h1 class="book-name"></h1>
                    <h2 class="book-author"></h2>
                    <div class="book-price-cart">
                        <p class="book-price"></p>
                        <a href="" id="cartIcon">
                            <img src="../pic/cart_pic.png" alt="cart">
                        </a>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <script src="./js/app.js"></script>
    
</body>
</html>