<section>
    <div class="first-section">
        <a href="http://localhost:3000">
            <h1>Book Store</h1>
        </a>
    </div>
    <div class="secound-section">
        <div class="secound-section-inner">
            <div class="search">
                <form action="" id="search-form">
                    <input id="search-text" type="text" placeholder="search">
                    <button id="search">🔍</button>
                    <a class="editByAdmin" href="http://localhost:3000/index-admin">Admin</a>
                </form>
            </div>
            <div class="shopping-cart">
                
                <a id="loginA" href="http://localhost:3000/login">Login</a>
                <a href="http://localhost:3000/shopping-cart">
                    <img src="../pic/cart_pic.png" alt="card pic">
                </a>
            </div>
        </div>
    </div>
</section>