.divFormEditBook h1,
.divFormEditBook input,
.divFormEditBook label,
.divFormEditBook textarea{
    color: #6c757d ;
}
.divFormEditBook h1:focus,
.divFormEditBook input:focus,
.divFormEditBook label:focus,
.divFormEditBook textarea:focus{
    color: #495057 ;
}
.section2-inner{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
form#formEditingBook{
    display: flex;
    flex-direction: column;
}
form#formEditingBook input{
    margin-bottom: 20px;
    border: none;
    border-bottom: 0.5px solid #e9ecef;
    outline: none;
}
form#formEditingBook input:focus{
    border-bottom: 2px solid #ced4da;
    box-shadow: 2px 4px 10px #888888;
    border-radius: 5px;
    padding: 5px;
}
form#formEditingBook textarea{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    border: 0.5px solid #e9ecef;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}
form#formEditingBook textarea:focus{
    border: 2px solid #ced4da;
    box-shadow: 2px 4px 10px #888888;
}
form#formEditingBook label{
    margin-right: 10px;
}
form#formEditingBook div{
    display: flex;
    justify-content: left;
}
form#formEditingBook button{
    width: 100px;
    height: 40px;
    font-size: 1em;
    background-color: #1d3557;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #888888;
    margin-left: 400px;
}
.divFormEditBook{
    border: 5px solid #a8dadc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #888888;
}
.divForm{
    padding: 20px;
}
.inner-divForm{
    background-color: #a8dadc;
    padding: 20px;
}
.inner-divForm h1{
    color: #296466;
    text-align: left;
    margin: 0;
}
.book-name{
    font-size: 2.3em;
}
@media only screen and (max-width: 960px){
    form#formEditingBook button{
        margin-left: 55vw;
    }
}
@media only screen and (max-width: 640px){
    .book-pic img{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 481px){
    form#formEditingBook button{
        margin-left: 50vw;
    }
}
@media only screen and (max-width: 320px){
    .book-name{
        font-size: 1.8em;
    }
    .book-author{
        font-size: 1.2em;
    }
    label{
        font-size: 0.75em;
    }
    form#formEditingBook button{
        margin-left: 30vw;
    }
}

