html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.first-section a{
    text-decoration: none;
    color: white;
}
.first-section{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3557;
    color: white;
    font-size: 3em;
}
.secound-section{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a8dadc;
    color: #333333;
    font-size: 1em;
}
.secound-section-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
}

.secound-section form{
    height: 6vh;
    border: none;
    display: flex;
    align-items: center;
}
.secound-section form input,
.secound-section form input:active,
.secound-section form input:focus{
    background-color: #a8dadc;
    border: none;
    outline: none;
    border-bottom: 1px solid #1d3557;
    height: 3vh;
    font-size: 1.2em;
    padding-left: 15px;
}

.secound-section form button {
    background-color: #a8dadc;
    border: none;
}
.shopping-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.secound-section img {
    height: 5vh;
}
.secound-section a{
    text-decoration: none;
    color: #1d3557;
    font-weight: 600;
}
.secound-section a:hover{
    text-decoration: underline;
}
.not-found{
    color: #1d3557;
    font-size: 1.5em;
    font-weight: 500;
}

.books{
    display: flex;
    justify-content: center;
}
.books-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    margin-top: 50px;
}
.book-details{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.book-details .book-img{
    width: 200px;
    height: 300px;
    box-shadow: 2px 4px 10px #888888;
    cursor: pointer;
}
.book-details .book-name{
    font-size: 1em;
    height: 38px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.4em;
}
.book-price-cart{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.book-details p {
    margin: 0;
    font-size: 1.5em;
    color: #1d3557
}
.book-details .book-price-cart img{
    width: 30px;
    cursor: pointer;
}
