.section2 {
    display: flex;
    justify-content: center;
}
.section2-inner{
    margin-top: 50px;
    width: 960px;
    display: flex;
}
.book-pic img {
    width: 300px;
    height: 450px;
    margin-right: 50px;
    box-shadow: 4px 4px 8px #8888;
}
.book-details {
    width: 660px;
    display: flex;
    justify-content: left;
}
.book-details .book-name,
.book-author{
    margin: 0;
    display: block;
    text-align: left;
    width: 100%;
    font-size: 2.7em;
    height: auto;
    margin-bottom: 30px;
}
.book-author{
    font-size: 1.5em;
}
br {
    display: block;
    margin: 10px 0;
    content: " ";
}

p.bookDescription{
    font-size: 1em;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 20px;
    
}
div.Publication-date,
div.div-format{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}
div.Publication-date p,
div.div-format p{
    font-size: 1em;
    text-align: left;
    margin-right: 10px;
}
.book-price-cart{
    width: 100%;
    justify-content: left;
}